@charset "UTF-8";
.modal-bg {
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal-content {
  display: none;
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
.open {
  height: 100vh;
  top: 50%;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
}

a{
  display: block;
  font-size: 15px;
  margin: 5px auto;
  width: 200px;
  padding: 10px;
  background-color: #3140c9;
  color: #eaeaea;
  border-radius: 10rem;
}

.js-modal-close{
  text-align: center;
}

.open-a{
 filter: grayscale(1);
}